In [ ]:
# Ref: https://github.com/pratos/datahack2017-workshop-av/blob/master/working_api/notebook/ML%20Models%20as%20APIs%20using%20Flask.ipynb

In [2]:
import os 
import json
import numpy as np
import pandas as pd
from sklearn.externals import joblib
#from sklearn.model_selection import GridSearchCV
from sklearn.cross_validation import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline

import warnings
warnings.filterwarnings("ignore")

In [11]:
ini_data = pd.read_csv('C:/Users/abagchee/Desktop/AV_Tasks/pipeline_api_loan_prediction/train.csv')
ini_data.head()
#list(ini_data.columns)
#ini_data.shape

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [17]:
for _ in ini_data.columns:
    print("The number of null values in: {} == {}".format(_,ini_data[_].isnull().sum()))

The number of null values in: Loan_ID == 0
The number of null values in: Gender == 13
The number of null values in: Married == 3
The number of null values in: Dependents == 15
The number of null values in: Education == 0
The number of null values in: Self_Employed == 32
The number of null values in: ApplicantIncome == 0
The number of null values in: CoapplicantIncome == 0
The number of null values in: LoanAmount == 22
The number of null values in: Loan_Amount_Term == 14
The number of null values in: Credit_History == 50
The number of null values in: Property_Area == 0
The number of null values in: Loan_Status == 0

In [21]:
pred_var = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area']
for _ in pred_var:
    ini_data[_] = ini_data[_].fillna(ini_data[_].value_counts().index[0])
    
for _ in ini_data.columns:
    print("The number of null values in {} column is : {}".format(_,ini_data[_].isnull().sum()))

The number of null values in Loan_ID column is : 0
The number of null values in Gender column is : 0
The number of null values in Married column is : 0
The number of null values in Dependents column is : 0
The number of null values in Education column is : 0
The number of null values in Self_Employed column is : 0
The number of null values in ApplicantIncome column is : 0
The number of null values in CoapplicantIncome column is : 0
The number of null values in LoanAmount column is : 0
The number of null values in Loan_Amount_Term column is : 0
The number of null values in Credit_History column is : 0
The number of null values in Property_Area column is : 0
The number of null values in Loan_Status column is : 0

In [25]:
pred_var = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area']
X_train, X_test, y_train, y_test = train_test_split(ini_data[pred_var], ini_data['Loan_Status'], test_size=0.25, random_state=42)

In [27]:
from sklearn.base import BaseEstimator,TransformerMixin

class Preprocessing(BaseEstimator,TransformerMixin):
    
    def __init__(self):
        pass
    
    def transform(self,df):
        pred_var = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area']
        df = df[pred_var]
        
        for _ in pred_var:
            df[_] = df[_].fillna(df[_].value_counts().index[0])
          
        gender_values = {'Female' : 0, 'Male' : 1} 
        married_values = {'No' : 0, 'Yes' : 1}
        education_values = {'Graduate' : 0, 'Not Graduate' : 1}
        employed_values = {'No' : 0, 'Yes' : 1}
        property_values = {'Rural' : 0, 'Urban' : 1, 'Semiurban' : 2}
        dependent_values = {'3+': 3, '0': 0, '2': 2, '1': 1}

        df.replace({'Gender': gender_values, 'Married': married_values, 'Education': education_values, 'Self_Employed': employed_values, 'Property_Area': property_values,'Dependents': dependent_values}, inplace=True)
        
        return df.as_matrix()
           
    def fit(self,df,y=None,**fit_params):
        self.term_mean_ = df['Loan_Amount_Term'].mean()
        self.amt_mean_ = df['loan_amount'].mean()
        return self

In [28]:
# convert y_train & x_train to np.array

y_train = y_train.replace({'Y':1, 'N':0}).as_matrix()
y_test = y_test.replace({'Y':1, 'N':0}).as_matrix()

In [29]:
# Create a pipeline
pipe = make_pipeline(Preprocessing(),RandomForestClassifier())

In [30]:
pipe

Pipeline(steps=[('preprocessing', Preprocessing()), ('randomforestclassifier', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])

In [ ]:
# UK 2016 Road Safety Dataset - Cycling Prediction - Poisson Regression

In [10]:
accd = pd.read_csv('C:/Users/abagchee/Documents/old_lapi_mydocs_stuffs/Ab Subjects Learning Placeholder/All about Machine Learning/ML_Classes_Ab/Kaggle Datasets/Regression Challange Day 1 Dataset UK Road Safety/dftRoadSafety_Accidents_2016.csv')


#for _ in accd.columns:
    #print("The number of null values in {} is :{}".format(_,accd[_].isnull().sum()))

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,2016010000005,519310.0,188730.0,-0.279323,51.584754,1,3,2,1,01/11/2016,...,0,0,5,1,1,0,0,1,1,E01000543
1,2016010000006,551920.0,174560.0,0.184928,51.449595,1,3,1,1,01/11/2016,...,0,0,4,1,1,0,0,1,1,E01000375
2,2016010000008,505930.0,183850.0,-0.473837,51.543563,1,3,1,1,01/11/2016,...,0,0,4,1,1,0,0,1,1,E01033725
3,2016010000016,527770.0,168930.0,-0.164442,51.404958,1,3,1,1,01/11/2016,...,0,0,1,1,1,0,0,1,1,E01003379
4,2016010000018,510740.0,177230.0,-0.406580,51.483139,1,3,2,1,01/11/2016,...,0,0,1,1,1,0,0,1,1,E01002583

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
plt.figure(figsize=(17,12))
#sns.heatmap(accd.corr(),vmax=1,square=True,annot=True)

In [8]:
accd_corr_mat = accd.corr().abs()
accd_corr_mat_th = np.where(accd_corr_mat>0.8)
accd_mat = [(accd_corr_mat.columns[x],accd_corr_mat.columns[y]) for x,y in zip(*accd_corr_mat_th) if x!=y]
#print(set(accd_mat))
accd.head()
from sklearn.feature_selection import SelectKBest

In [ ]:
from sklearn.base import BaseEstimator,TransformerMixin

class Preprocessing2(BaseEstimator,TransformerMixin):
    
    def __init__(self):
        pass
    
    def transform(self,df):